---
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Home from "../../components/page-comps/Home";
import PostCards from "../../components/PostCards";
import Layout from "../../layouts/Layout.astro";

let haikus = await Astro.glob("../../content/haiku/*.md");
haikus = haikus.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  );
});
---

<style>
  .custom {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
</style>
<Layout>
  <Home client:load>
    <div class="section">
      <Breadcrumbs>
        <li><a href="/">Home</a></li>
        <li class="is-active"><a href="/haiku">Haiku</a></li>
      </Breadcrumbs>
      <div class="search-div" style="max-width: fit-content;">
        <input
          type="search"
          class="input"
          autocomplete="off"
          id="search-input"
          placeholder="Filter with keywords..."
        />
        <span class="tag is-info is-medium">Filter using keywords</span>
      </div>
      {
        haikus.map(({ frontmatter, Content }) => {
          const { title, href, date, keywords } = frontmatter;
          return (
            <PostCards
              keywords={keywords}
              date={date}
              title={title}
              href={href}
              client:load
            >
              <Content />
            </PostCards>
          );
        })
      }
    </div>
  </Home>
</Layout>
<script src="../scripts/filterTags.js"></script>
