---
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Home from "../../components/page-comps/Home";
import PostCards from "../../components/PostCards";
import Layout from "../../layouts/Layout.astro";

const haikus = await Astro.glob("../../content/haiku/*.md");
---

<style>
  .custom {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
</style>
<Layout>
  <Home client:load>
    <div class="section">
      <Breadcrumbs>
        <li><a href="/">Home</a></li>
        <li class="is-active"><a href="/haiku">Haiku</a></li>
      </Breadcrumbs>
      {
        haikus.map(({ frontmatter, Content }) => {
          const { title, href } = frontmatter;
          return (
            <PostCards title={title} href={href} client:load>
              <Content />
            </PostCards>
          );
        })
      }
    </div>
  </Home>
</Layout>
