---
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = async () => {
  const stories = await Astro.glob("../../content/short-stories/*.md");

  return stories.map((story) => {
    const { slug } = story.frontmatter;

    const { Content } = story;
    const modifiedSlug = slug.split(" ").join("-");
    return {
      params: { slug: modifiedSlug },
      props: { slug, Content },
    };
  });
};

const { slug, Content } = Astro.props;
---

<Layout>
  <div class="section">
    <div class="container">
      <p class="title is-size-3-tablet is-size-5-mobile">{slug}</p>
      <Content />
    </div>
  </div>
</Layout>
