---
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Home from "../../components/page-comps/Home";
import PostCards from "../../components/PostCards";
import Layout from "../../layouts/Layout.astro";
const stories = await Astro.glob("../../content/short-stories/*.md");
---

<style>
  .custom {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
  }
  .search-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
</style>
<Layout>
  <Home client:load>
    <div class="section">
      <Breadcrumbs>
        <li><a href="/">Home</a></li>
        <li class="is-active"><a href="/short-stories">Short stories</a></li>
      </Breadcrumbs>
      <div class="search-div" style="max-width: fit-content;">
        <input
          type="search"
          class="input"
          autocomplete="off"
          id="search-anime-input"
          placeholder="Filter with genre..."
        />
        <span class="tag is-info is-medium">Filter using genre</span>
      </div>
      {
        stories.map(({ frontmatter, Content }) => {
          const { title, href } = frontmatter;
          return (
            <PostCards title={title} href={href} client:load>
              <Content />
            </PostCards>
          );
        })
      }
    </div>
  </Home>
</Layout>
