---
import "bulma/css/bulma.css";
import "../css/astro-theme.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/icon_lib.jpeg" type="image/x-icon" />
  <meta
    name="google-site-verification"
    content="uUxxTRjA4h_drnQlNxLSbHcXMsk3DdK_Qnv7hw6uKvI"
  />
  <slot />
  <title>{title}</title>
</head>
