<style>
  .carousel-cell {
    min-width: 330px;
    /* max-width: 330px; */
  }
  @media only screen and (max-width: 320px) {
    .carousel-cell {
      min-width: 280px;
    }
  }
</style>
<div class="carousel-cell">
  <slot />
</div>
