.custom {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
.search-div {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
