---
import Footer from "../components/Footer.jsx";
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar";
const { title } = Astro.props;
---

<html lang="en">
  <Head title={title}>
    <slot name="head-slot" />
  </Head>
  <body>
    <Navbar client:load />
    <slot />
    <Footer client:load />
  </body>
</html>
